@import 'assets/scss';
.boxGroupInput {
    display: block;
    margin-bottom: 20px;
}

.formGroup {
    border-radius: var(--radius-input);
    position: relative;
}

.errorMsg {
    border-color: $color-red1;
}

.messageError {
    margin: 10px 0;
    p {
        color: $color-red1;
    }
}

.errMsg {
    border: 1px solid var(--red-color-1);
    position: relative;
    animation: shake 0.9s ease 1;
}

.ic_error {
    position: absolute;
    right: 10px;
    top: 6px;
}

.icon-right {
    position: absolute;
    right: 10%;
    top: 25%;
}

.label {
    font-family: var(--bs-body-font-family-SanFranciscoText-Regular);
    font-size: 14px;
    margin-bottom: 10px;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}