$color-white: #FFFFFF;
$color-white-gray: #f6f6f6;
$color-black: #595959;
$color-red: #c62828;
$color-dark-red: #c2292e;
$color-red1: #C70404;
$color-blue: #135eac;
$color-green: #0e9549;
$color-gray: #bdbdbd;
$color-light-gray: #828282;
$color-dark-gray: #454546;
$color-gray1: #262626;
$color-gray-d8: #D8D8D8;
$color-yellow: #ffeaac;
$color-t-red: rgba(249, 187, 189, 0.7);
$color-t-gray: rgba(0, 0, 0, 0.05);
$color-solid-border: #E8E8E8;
$color-dash-border: #D4D4D4;
$color-green-header:#1D9752;
$color-green-input: #D2EADC;
$color-yellow-d9: #997404;
$color-gray-e6: #E6E6E6;
$color-yellow-y1: #FFF3CD;
$color-red-r1: #F4CDCD;
$color-black-67: #595959