    @import 'assets/scss';
    .container {
        width: 100%;
        outline: none;
        border: 1px solid $color-solid-border;
        background-color: $color-white;
        // padding: 0.5em;
        border-radius: 5px;
        color: $color-green;
        span {
            color: $color-black;
        }
        .menu {
            background-color: $color-green-header;
            width: 15vw;
        }
    }
